<!DOCTYPE html>
<html lang="en">
<head>
    {% load  staticfiles %}
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>
<div class="container">
    {% include "header.html" %}

    <form action="updatepassword" method="post">
                {% csrf_token %}
        <div class="form-group">
            <label for="">Enter old passwordl</label>
            <input type=Password  required class="form-control" name="oldpassword">

        </div>

        <div class="form-group">
              <label for="">Enter newPassword</label>
            <input type=Password id=""newpassword required  class="form-control" name="newpassword">

           <div class="form-group">
              <label for="">confirm Password</label>
            <input type=Password data-rule-equalto="#newpassword" required  class="form-control" name="Password">
               <div class="form-group">

            <input type="submit" class="btn btn-success" value="submit">
        </div>


</body>
</html>