<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="UTF-8">
    <title>Title</title>
</head>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">

<body>
<div class="container">

    <form action="login" method="get">
                {% csrf_token %}
        <div class="form-group">
            <label for="">Enter Email</label>
            <input type=email id="email" required class="form-control" name="Email">

        </div>
        <div class="form-group">
            <label for="">Enter Password</label>
            <input type=password id="password"required class="form-control" name="Password">

        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-success" value="submit">
        </div>
    </form>
    {{ ar.message }}
</div>




</body>

</html>